main {
    display: flex;
    justify-content: center;
}

.carousel {
    max-width: 800px;
    margin: 0;
    position: absolute;
    top: 47%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(162, 162, 162);
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding-top: 3px;
    box-shadow: 0 0 3px black;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px;
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;   
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-title {
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    color: white;
    width: 100%;
    position: absolute;
    transform: translateY(-1180%);
    text-align: center;
}

.slide-dots {
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    color: white;
    width: 100%;
    position: absolute;
    transform: translateY(-180%);
    text-align: center;
    cursor: pointer;
}

.pos1 {
    margin: 0 5px;
}

.pos2 {
    margin: 0 5px;
}

.pos3 {
    margin: 0 5px;
}